/* Dark theme colors */

/* Primary theme colors */
body[data-theme='light_theme'] {
    --white: #fff;
    --bg-color: #F8F8F8;
    --color: #333;
    --secondary-color:#eee31d;
    --icon-bg-color: #333;   
    --icon-color: #333;
  }
  
  body {
    background: var(--bg-color);
    color: var(--color);
    text-align: center;
  }

  img{
    height: 70%;
    width: 70%;
  }
  
  body[data-theme='dark_theme'] {
    --white: #fff;
    --bg-color: #000;
    --color: #fff;
    --secondary-color:#eee31d;
    --icon-bg-color: #333;   
    --icon-color: #fff;
  }
  
  @keyframes fadeIn {
    from {top: 20%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  @-webkit-keyframes fadeIn {
    from {top: 20%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;
    
  }
  
  h1 {
    margin-top: 900px;
    color: #eee31d;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
  }
  
  .dot {
    color: var(--secondary-color);
  }
  
  p {
    
    text-align: justify;
    margin: 18px;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    margin: 10px;
      padding: 10px; 
    
  }
  
  .icons {
    text-align: center;
  }
  
  .icons i {
    color: var(--white);
    background: var(--icon-bg-color);
    height: 15px;
    width: 15px;
    padding: 13px;
    margin: 0 10px;
    margin-bottom: 70px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: all 200ms ease;
    text-decoration: none;
    position: relative;
  }
  
  .icons i:hover, .icons i:active {
    color: var(--icon-color);
    background: none;
    border-color: var(--icon-bg-color);
    cursor: pointer !important;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    text-decoration: none;
  }
  
  /* responsiveness  */
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 48px;
    }
  }
 
  /* responsive text */
  @media screen and (max-width: 844px) {
    p {
      font-size: 14px;
      text-align: justify;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  /* responsive icons */

  @media screen and (max-width: 768px) {
    .icons i {
      height: 10px;
      width: 10px;
      padding: 10px;
      margin: 0 10px;
      margin-bottom: 70px;
      border-radius: 50px;
      border: 2px solid transparent;
      transition: all 200ms ease;
      text-decoration: none;
      position: relative;
    }
  }
  /* responsive .wrapper */
  @media screen and (max-width: 844px) {
    .wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      animation: fadeIn 1000ms ease;
      -webkit-animation: fadeIn 1000ms ease;
      width: 100%;
       
    }
    h1{
      font-size: 34px;
      padding-bottom: 20px;
    }
  }

  

